* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}

.container {
    display: flex;
    width: 100vw;
    min-height: 3rem;
    justify-content: flex-end;
    background-color: #dfdfdf;
}

.navs {
    padding: 15px;
    align-items: center;
    display: flex;
    justify-content: baseline;
    transition: all .2s;
}

.navs:hover {
    background: #a2a2a2;
}
a {
    text-decoration: none;
    color: black;
}
.title {
    padding-left:20px;
    font-size: 1.25rem;
    margin-right:auto;
    display: flex;
    text-transform: uppercase;
    justify-content: baseline;
}

.form {
    max-width: 75vw;
    min-height: 50vw;
    border: 2px solid black;
    text-align: center;
    margin: 50px auto 0px auto;
}

input {
    width: 50px;
}
form>p {
    display: inline;
}
.creatorContainer {
    background: #dfdfdf;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    position: absolute;
    bottom: 0;
}

.creators p {
    text-decoration: underline;
}

.creators ul {
    list-style-type: none;
}

/* login */
.dropdownItem {
    display: none;
    position: absolute;
    z-index: 1;
    min-width: 200px;
    box-shadow: 0px 1px 16px;
    border: 2px solid black;
}

.dropdown:hover .dropdownItem {
    display: block;
} 
.dropdown {
    position: relative;
    display: inline-block
}
